<div id="<%= dom_id(book, :on_loan) %>" class="mb-2 border-2 rounded">
  <div>
    <span class="font-semibold"><%= book.title %></span>, <%= book.year %>
    <%= form_for book do |form| %>
      <%= form.hidden_field :on_loan, value: false %>
      <%= form.submit "Return" %>
    <% end %>
  </div>
  <div class="italic"><%= book.author.name %></div>
</div>